.wnpp { color:green; }
.important { color:red; }
.comment { background:#ffef66; }
.fullcomment { color:#505050; }
.pending { color:#f040d0; }
.patch { color:green; }
.help { color:#ffaa30; }
.security { color:red; }
.claimed { color:blue; }
.delayed { color:blue; }
.hinted { color:blue; }
.alsoassigned { color:blue; }
.new { color:gray; }
.notintesting { color:gray; }
